{%extends 'basa.html' %}

{%block title%}
Главная страница
{%endblock%}


{%block body%}
<center>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
    <h1>Создатель маршрутов </h1>
    <p class="lead">Наш сайт позволяет построить туристический маршрут. Для этого всего лишь надо...</p>
    <p class="lead">
      <a href="/algoritm" target="_blank" class="btn btn-primary btn-lg btn-block">Построить</a>
    </p>
  </main>
</div>
</center>
{%endblock%}
